require "kanji/web_container"

module <%= config[:camel_cased_app_name] %>
  class Container < Kanji::WebContainer
    configure do
      config.name = :<%= config[:underscored_project_name] %>
      config.listeners = true
      config.auto_register = %w[app]
    end

    load_paths! "app"
  end
end
