require "dry/monitor"

<%= config[:camel_cased_app_name] %>::Container.finalize :monitor do |_container|
  start do
    Dry::Monitor::SQL::Logger.new(logger).subscribe(notifications)

    if settings[:env] == "development"
      Dry::Monitor::SQL::Logger.new(stdout_logger).subscribe(notifications)
    end
  end
end
