ROM::SQL.migration do
  change do
    create_table :<%= config[:pluralized_type_name] %> do
      primary_key :id
<% config[:attributes].each do |attribute| -%>
      column :<%= attribute[0] %>, "<%= config[:lookup_column_type].(attribute[1]) %>"
<% end -%>
    end
  end
end
